<!-- Wappler include head-page="layouts/cover" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="AboutUs" appConnect="local" -->
<meta name="ac:route" content="/AboutUs">
<div class="container wappler-block pt-5 pb-5">
    <div class="row align-items-center">
        <div class="col-12 col-sm-6 col aboutus-hero-section-desc text-start">
            <h4 class="aboutus-hero-section-heading text-start">Meet Scribly<br></h4>
            <p class="aboutus-hero-section-para text-start">We’re Scribly Media (formerly Scribly.io), a small but mighty content marketing agency with a team of experienced strategists and marketers who specialize in content creation.</p>
        </div>
        <div class="col-12 col-sm-6">
            <img height="500" class="wappler-type-picture w-100" src="/assets/images/Pound-01-1024x864-WEBP (2).webp">
        </div>
    </div>
    <p class="aboutus-secondary-heading text-center">The best people ready to tackle anything</p>
    <div class="row text-center">
        <div class="col-11">
            <h1 class="text-start">Meet Scribly’s content marketing team</h1>
            <div class="row text-start pt-4">
                <div class="col-12 col-md-12">
                    <p class="text-h3">If there’s one thing we know at Scribly (aka Scribly.io), it’s the importance of good content marketing! And with experts in content strategy, SEO, social media, email marketing, copywriting, and editing, we’re here to make your brand shine. Find out more about our content marketing team and how our agency works with businesses like yours</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-11">
            <h1 class="text-start">What the Scribly team does</h1>
            <div class="row text-start pt-4">
                <div class="col-12 col-md-12">
                    <p class="text-h3">As an end-to-end content marketing agency, we have all of your content marketing needs covered, from auditing your existing content and building a multi-channel content strategy, to executing that strategy and managing your CMS, to tracking performance and adjusting the plan accordingly. We help you grow your organic visibility, attract, engage and retain more customers, and ultimately drive sales.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <p class="about-us-secondary-heading text-start">Auditing and strategy</p>
            <p class="text-start">We work closely with you to craft a killer content strategy that’s completely personalized based on your target audience. We know exactly the types of content needed to reach the right people at the right time, and we’ll work together to make it happen.&nbsp;</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="about-us-secondary-heading">Briefing, writing, editing, and management</p>
            <p>Once we nail a content plan, then it’s time to produce the goods and share it on your channels.
            <p>
            </p>
            <p>At Scribly (aka Scribly.io), we have a cracking team of over 30 writers and editors, based around the world, who help bring your content to life. Our writers have been vetted to ensure they deliver stellar, sparkling content –– we couldn’t do it without them! Each of our writers has a specific niche and skillset they work within, so whatever our customers need, chances are we can deliver.
            </p>
            <p>Our core content marketing team, Elle, Taylor, Alex, and Kalina, oversee our wonderful writers.</p>
            <p>
            </p>
            </p>
        </div>
    </div>
</div>