<!-- Wappler include head-page="layouts/cover" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="blog" appconnect="local" class="style14" -->
<dmx-serverconnect id="serverconnect1" url="/api/blogdetails/read"></dmx-serverconnect>

<div class="container">
    <p class="text-center blog-page-heading">Our Latest articles</p>
</div>

<div class="container">
    <div class="row row-cols-2" is="dmx-repeat" id="repeat1" dmx-bind:repeat="serverconnect1.data.queryBlog">
        <div class="col">
            <div class="card mb-4">
                <img class="card-img-top" alt="Card image cap" dmx-bind:src="imageurl">
                <div class="card-body">
                    <h4 class="card-title" dmx-text="name">Card title</h4>
                    <p class="card-text" dmx-text="'by '+createdby">With supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text" dmx-text="description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary blog-card-button" dmx-text="'Read More'">Go somewhere</a>
                    <p class="card-text mt-2" dmx-text="tag">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<meta name="ac:route" content="/blog">