<!-- Wappler include head-page="layouts/cover" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="BlogStrategy" appConnect="local" components="{dmxStripe:{},dmxDatastore:{}}" -->
<dmx-stripe-afterpay-message id="stripe-afterpay-message1"></dmx-stripe-afterpay-message>
<dmx-datastore id="datastore1"></dmx-datastore>
<dmx-stripe id="stripe1" key="" dmx-bind:line-items=""></dmx-stripe>
<meta name="ac:route" content="/BlogStrategy">
<div class="container wappler-block pt-5 pb-5">
  <div class="row align-items-center">
    <div class="col-12 col-sm-6 col blog-strategy-hero-desc text-start">
      <h4 class="hero-heading text-start">Blog content strategy<br></h4>
      <p class="aboutus-hero-section-para text-start">Scribly can help you create a blog content strategy that increases your online presence, builds brand awareness, and drives trust and authority to generate leads</p>
      <button class="btn btn-primary mb-4 blog-content-strategy-hero-heading" style="--bs-btn-border-radius: 40px;">Book a free blog content strategy consultation</button>
    </div>
    <div class="col-12 col-sm-6">
      <img height="500" class="wappler-type-picture w-100" src="/assets/images/Content-Creation-1536x1536.png">
    </div>
  </div>
</div>
<div class="container wappler-block pt-5 pb-5 style4">
  <div class="row">
    <div class="text-center col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
      <h4 class="blog-content-strategy-secondary-heading text-start">Blog content strategy is our bread and butter&nbsp;&nbsp;<br></h4>
      <p class="blog-content-strategy-descriptions text-start">Here at Scribly, we know just how powerful blog content can be – if it’s done right. Blogs provide the perfect opportunity to build lasting relationships with your prospects and customers, providing them with valuable information they come back to time and time again.&nbsp;</p>
      <p class="blog-content-strategy-descriptions text-start">Whether you’re looking to create blog content to grow your keyword profile and increase your SEO score, establish yourself as a thought leader in your industry, or educate, engage, and entertain your customers, Scribly can help you plan and execute the perfect blog content strategy.&nbsp;</p>
      <p class="blog-content-strategy-descriptions text-start">Here’s how we build a blog content strategy…</p>
    </div>
  </div>
</div>
<div class="container wappler-block pt-5 pb-5">
  <div class="row">
    <div class="text-center col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
      <h4 class="blog-content-strategy-secondary-heading text-start">Blog content strategies from Scribly</h4>
      <p class="blog-content-strategy-sub-heading text-start fw-bold">Step 1: Getting to know your audience</p>
      <p class="text-start blog-content-strategy-descriptions">If you want prospects and customers to read your blog, you need to create content they actually want to read. And that comes down to understanding who they are, and what their interests, needs, and pain points are. We help you identify what blog content they’re interested in reading through keyword and marketing research.&nbsp;</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <img class="card-img-top" alt="Card image cap" src="/assets/images/Desk-01-980x1024-WEBP.webp">
        <div class="card-body">
          <h4 class="card-title">SEO Optmised content</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Buy now</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img class="card-img-top" alt="Card image cap" src="/assets/images/Spock-01-881x1024-WEBP.webp">
        <div class="card-body">
          <h4 class="card-title">SEO Optimised quotes</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Buy now</a>
        </div>
      </div>
    </div>
  </div>
</div>