<!-- Wappler include head-page="layouts/cover" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="Greetings" appConnect="local" -->
<meta name="ac:route" content="/Greetings">
<div class="container">
    <div class="row">
        <div class="col text-center green-tick-wrapper">
            <img src="/assets/images/362-3624869_icon-success-circle-green-tick-png.png" class="green-tick">
        </div>
    </div>
</div>
<div class="row">
    <div class="col success-message-payment">
        <h1 class="text-center style22">Payment Successfull</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1 class="text-center style23">Thanks for purchasing from Scribly</h1>
    </div>
</div>