<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appConnect="local" components="{dmxBootstrap5Theme:{}}" -->
<meta name="ac:route" content="/">
<div class="container wappler-block pt-5 pb-5">
    <div class="row hero-wrapper align-items-start">
        <div class="text-center col-12 col-sm-6 col hero-first-column">
            <h4 class="hero-heading text-start">A content marketing agency that drives sales.</h4>
            <p class="text-start hero-desc-primary-para">Scribly Media (formerly Scribly.io) is a content marketing agency that helps you boost traffic, generate leads, and increase your bottom line.</p>
            <p class="text-start hero-desc-secondary-para">With our fully customizable content packages, we can help plan, write, and manage your content strategy across blogs, websites, socials, and email. All you need to do is choose the package that suits you.&nbsp;</p>
            <button class="btn btn-primary mb-4 hero-button">Qualify for a FREE content audit today</button>
        </div>
        <div class="col-12 col-sm-6">
            <img height="500" class="wappler-type-picture w-100" src="/assets/images/Pound-01-1024x864-WEBP (2).webp">
        </div>
    </div>
    <p class="hero-paragraph-terinary">A CONTENT MARKETING AGENCY TRUSTED BY BUSINESSES AROUND THE WORLD</p>
    <div class="row">
        <div class="col partner-img-wrapper">
            <img src="/assets/images/Scribly-partner-logos.png" class="partner-img">
        </div>
    </div>
    <h1 class="hero-header-secondary">Content marketing services designed to deliver results.</h1>
</div>
<div class="container">
    <div class="row sub-section-one">
        <div class="col-8">
            <h1>Execute an actionable content marketing strategy, without lifting a finger.</h1>
            <p>From day one, you’ll get a dedicated project manager who’ll work with you to define your content goals and create a tailored content marketing strategy. Combining the powers of SEO-led content, social media, email marketing, and off-site content, we help you to:</p>
            <p>1. Build brand awareness and establish trust and credibility
            <p>2. Nurture customer relationships to promote customer loyalty<br><span style="background-color: var(--bs-body-bg); color: var(--bs-body-color); font-family: var(--bs-body-font-family); font-size: var(--bs-body-font-size); font-weight: var(--bs-body-font-weight); text-align: var(--bs-body-text-align);">3. Drive organic traffic and improve search engine rankings<br></span><span style="background-color: var(--bs-body-bg); color: var(--bs-body-color); font-family: var(--bs-body-font-family); font-size: var(--bs-body-font-size); font-weight: var(--bs-body-font-weight); text-align: var(--bs-body-text-align);">4. Increase conversions and revenue to boost your bottom line</span></p>
            </p>
            <button id="btn1" class="btn sub-section-one-btn">See our strategy</button>
        </div>
        <div class="col">
            <img src="/assets/images/seo-content-strategy-WEBP.webp" class="style1">
        </div>
    </div>
</div>
<div class="container sub-section-two">
    <div class="row">
        <div class="col-4">
            <img src="/assets/images/content-to-scale-your-business-1024x745-WEBP.webp" class="sub-section-img-two">
        </div>
        <div class="col">
            <h1>Drive more traffic. Convert more leads.</h1>
            <p>Tell us your commercial objectives and we’ll help you spend your content package wisely. We can craft SEO-optimized blog content and high-converting landing, category, and product pages, effective promotional emails and educational newsletters, engagement-driving social media posts and polls, and so much more — all the copy you need to grow your business</p>
            <button id="btn2" class="btn sub-section-two-btn">See the result</button>
        </div>
    </div>
</div>
<div class="container sub-section-three">
    <div class="row">
        <div class="col-8">
            <h1>Future-proof your content strategy and stay ahead of your competitors.</h1>
            <p>We’re not just another content marketing agency. Our in-depth audit and competitor analysis provides you with all the insights you need to outperform your biggest rivals, building on your strengths and capitalizing on their weaknesses. Plus, we stay up-to-date with the latest tools and trends to help you get the most out of your content, from planning to idea generation and content creation.</p>
            <button id="btn3" class="btn style2">Read our latest insights</button>
        </div>
        <div class="col">
            <img src="/assets/images/Colab-01-1024x576-WEBP.webp" class="sub-section-three-img">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="/assets/images/proofreading-and-editing-WEBP.webp" class="sub-section-four-img">
        </div>
        <div class="col">
            <h1>A content marketing agency with the best copywriters around.</h1>
            <p>You can trust us to write content that drives results— every time. Scribly Media (formerly Scribly.io) is a content strategy agency built on a team of highly experienced, native English writers and editors who’ve been published in some of the world’s leading publications, so you can count on us for quality.</p>
            <button id="btn4" class="btn style3">Meet the Team</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-center align-items-center justify-content-center">
        <div class="offset-3 col-6 banner-home-wrapper">
            <p class="home-banner-desc">Discover how a Scribly content strategy will help your business fly</p>
            <button id="btn5" class="btn home-banner-button">Get in touch now</button>
        </div>
    </div>
</div>
<div class="container">
    <h1 class="home-secondary-heading">How it works</h1>
</div>

<div class="container sub-section-three">
    <div class="row">
        <div class="col-8">
            <h1>Step 1: Auditing existing content</h1>
            <p>Uncover the true potential of your business with our content audit. We scrutinize the quality, relevance, and performance of your existing content to determine what’s helping and what’s hurting you – this first step comes at no cost.
            <p>
            </p>
            <p>We’ll give you a full picture of your biggest opportunities and gaps, your strengths and weaknesses, and how to amplify and optimize your content to transform user engagement and drive sales.</p>
            </p>
            <button id="btn6" class="btn style2">Qualify for audit</button>
        </div>
        <div class="col">
            <img src="/assets/images/Spock-01-881x1024-WEBP.webp" class="sub-section-three-img">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="/assets/images/Analitics-01-990x1024-WEBP.webp" class="sub-section-four-img">
        </div>
        <div class="col">
            <h1>Step 2: Defining the strategy</h1>
            <p>Based on our audit, we craft a strategic, data-driven content strategy that resonates with your audience and drives sustainable growth for your business. Our approach ensures seamless integration, transparency, and alignment with your brand’s vision and values throughout the content marketing journey.</p>
            <button id="btn7" class="btn style15">Find out more about our content startegy</button>
        </div>
    </div>
</div>


<div class="container sub-section-three">
    <div class="row">
        <div class="col-8">
            <h1>Step 3: Creating and managing content</h1>
            <p>Uncover the true potential of your business with our content audit. We scrutinize the quality, relevance, and performance of your existing content to determine what’s helping and what’s hurting you – this first step comes at no cost.
            <p>
            </p>
            <p>We’ll give you a full picture of your biggest opportunities and gaps, your strengths and weaknesses, and how to amplify and optimize your content to transform user engagement and drive sales.</p>
            </p>
            <button id="btn8" class="btn style2">Qualify for audit</button>
        </div>
        <div class="col">
            <img src="/assets/images/Desk-01-980x1024-WEBP.webp" class="sub-section-three-img">
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="/assets/images/Meeting-01-1013x1024-WEBP.webp" class="sub-section-four-img">
        </div>
        <div class="col">
            <h1>Step 4: Reviewing performance and insights</h1>
            <p>Based on our audit, we craft a strategic, data-driven content strategy that resonates with your audience and drives sustainable growth for your business. Our approach ensures seamless integration, transparency, and alignment with your brand’s vision and values throughout the content marketing journey.</p>
            <button id="btn9" class="btn style15">Find out more about our content startegy</button>
        </div>
    </div>
</div>
<div class="container">
    <h1 class="home-secondary-heading">Case studies</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card card-wrapper">
                <img class="card-img-top" alt="Card image cap" src="/assets/images/63d8de6cc27c5bc536c60eeb_Learning-p-1080-1024x683-1.webp">
                <div class="card-body card-body-desc text-center">
                    <p class="card-text card-first-para">My learning hub</p>
                    <a href="#" class="btn btn-outline-link card-second-para">View Project</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-wrapper">
                <img class="card-img-top" alt="Card image cap" src="/assets/images/63d40205e2ab56323a7b9572_Cheesecake-p-1080-e1690146435101-1024x674-1.webp">
                <div class="card-body card-body-desc">
                    <p class="card-text card-first-para">Cheesecake lab</p>
                    <a href="#" class="btn btn-outline-link card-second-para">View Project</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-wrapper">
                <img class="card-img-top" alt="Card image cap" src="/assets/images/63d404edcd67d22dd745b5c3_Ladder-p-1080-1024x681-1.webp">
                <div class="card-body card-body-desc">
                    <p class="card-text card-first-para">Luhhu</p>
                    <a href="#" class="btn btn-outline-link card-second-para">View Project</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h1 class="home-terinary-heading">Clients from all over the world have seen the results working with Scribly Media</h1>
</div>
<div class="container">
    <img src="/assets/images/5eb153fa8a376a3d38455c3f_scribly-results-p-1080.png">
</div>
<main class="style16">
    <div class="row">
        <div class="col testimonial-para">
            <p>“The team at Scribly went above and beyond with their exceptional talent. They nailed it on the first draft and I was really happy with their fast and friendly service. A+”
            <p>
            </p>
            <p>Kaz
            </p>
            <p>Kamisans.com</p>
            </p>
        </div>
        <div class="col testimonial-para">
            <p>“It has been a totally stress-free way to get high quality content without having to place added pressure on my core team. It’s brilliant to get notifications of work done and it’s so easy to make suggestions to tailor the work to what I need. It’s taken a huge amount of stress off my shoulders.”
            <p>
            </p>
            <p>Dom Trynor
            </p>
            <p>A Tale Unfolds</p>
            </p>
        </div>
        <div class="col testimonial-para">
            <p>“Scribly were simply awesome from start to finish. They took the brief and ran with it, delivering the work ahead of schedule and to an incredibly high standard. Really looking forward to working with them again.”
            <p>
            </p>
            <p>Richard Patching
            </p>
            <p>Indiebeta.io
            </p>
            <p><br></p>
            </p>
        </div>
        <div class="col testimonial-para">
            <p>“We are all really impressed with your work. It has a very personal and welcoming tone which think suits us down to the ground. It also makes some industry jargon very accessible without losing any of the detail we put in. We have been delighted to work with Scribly. The quality of copy writing in a specialist area has been exceptional.”
            <p>
            </p>
            <p>Rob Webster
            </p>
            <p>Canton Marketing Solutions</p>
            </p>
        </div>
    </div>
</main>


<div class="container faq-heading">
    <h1 class="style12">FAQs</h1>
    <div class="accordion" id="accordion2">
    </div>
</div>
<div class="container">
    <div class="accordion accordion-main-wrapper" id="accordion1">
        <div class="card accordion-card">
            <div id="accordion1_collapseTwo" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingOne" data-bs-parent="#accordion1">
                <div class="card-body" id="secondelement">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card accordion-card">
            <div class="card-header accordion-wrapper mb-n5" id="accordion1_headingTwo1">
                <h5 class="text-start mb-0" id="secondheading1"><button id="accordion1_collapseTwo_Btn1" class="btn btn-light accordion-btn bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseTwo1" aria-expanded="true" aria-controls="collapseOne"><i class="fas fa-plus plus-icon-accordion"></i>How does content marketing works ?<span class="invisible-badge">New</span></button></h5>
            </div>
            <div id="accordion1_collapseTwo1" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingOne" data-bs-parent="#accordion1">
                <div class="card-body" id="secondelement1">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card accordion-card">
            <div class="card-header accordion-wrapper mb-n5" id="accordion1_headingTwo2">
                <h5 class="text-start mb-0" id="secondheading2"><button id="accordion1_collapseTwo_Btn2" class="btn btn-light accordion-btn bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseTwo2" aria-expanded="true" aria-controls="collapseOne"><i class="fas fa-plus plus-icon-accordion"></i>How does content marketing drive sales ?<span class="invisible-badge">New</span></button></h5>
            </div>
            <div id="accordion1_collapseTwo2" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingOne" data-bs-parent="#accordion1">
                <div class="card-body" id="secondelement2">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card accordion-card">
            <div class="card-header accordion-wrapper mb-n5" id="accordion1_headingTwo3">
                <h5 class="text-start mb-0" id="secondheading3"><button id="accordion1_collapseTwo_Btn3" class="btn btn-light accordion-btn bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseTwo3" aria-expanded="true" aria-controls="collapseOne"><i class="fas fa-plus plus-icon-accordion"></i>What is content marketing ?<span class="invisible-badge">New</span></button></h5>
            </div>
            <div id="accordion1_collapseTwo3" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingOne" data-bs-parent="#accordion1">
                <div class="card-body" id="secondelement3">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card accordion-card">
            <div class="card-header accordion-wrapper mb-n5" id="accordion1_headingTwo4">
                <h5 class="text-start mb-0" id="secondheading4"><button id="accordion1_collapseTwo_Btn4" class="btn btn-light accordion-btn bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#accordion1_collapseTwo4" aria-expanded="true" aria-controls="collapseOne"><i class="fas fa-plus plus-icon-accordion"></i>What is a content marketing agency ?<span class="invisible-badge">New</span></button></h5>
            </div>
            <div id="accordion1_collapseTwo4" class="collapse" is="dmx-bs5-collapse" aria-labelledby="accordion1_headingOne" data-bs-parent="#accordion1">
                <div class="card-body" id="secondelement4">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
</div>